.wuyou-waiter[data-v-1b6ba6] {
  position: fixed;
  right: 0px;
  top: 50%;
  margin-top: -90px;
  width: 45px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  z-index: 999;
}
.waiter-ul li[data-v-1b6ba6] {
  position: relative;
  height: 45px;
  line-height: 45px;
  border-bottom: 1px solid #fff;
}
.waiter-ul li a[data-v-1b6ba6] {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  color: #fff;
  display: block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  transition: all 0.6s;
  text-decoration: none;
  font-size: 24px;
}
.waiter-title[data-v-1b6ba6] {
  position: absolute;
  right: 0px;
  bottom: 1px;
  color: #fff;
  min-width: 10px;
  display: inline-block;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  transition: all 0.6s;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
  opacity: 0;
  white-space: nowrap;
}
.waiter-title[data-v-1b6ba6]:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  right: -5px;
  top: 14px;
  background-color: #fff;
  transform: rotate(45deg);
}
.waiter-img[data-v-1b6ba6] {
  position: absolute;
  right: 0px;
  bottom: 1px;
  color: #fff;
  min-width: 10px;
  display: inline-block;
  padding: 0 20px;
  height: 100px;
  text-align: center;
  -webkit-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -moz-transition: all 0.6s;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
  opacity: 0;
}
.waiter-img img[data-v-1b6ba6] {
  width: 100px;
  height: 100px;
}
.waiter-ul li:hover .waiter-title[data-v-1b6ba6] {
  right: 70px;
  opacity: 1;
}
.waiter-ul li:hover .waiter-img[data-v-1b6ba6] {
  right: 40px;
  opacity: 1;
}
.waiter-ul li.wuyou-shop a[data-v-1b6ba6] {
  background-image: -webkit-linear-gradient(left, #f60, #ffb443);
  background-image: -moz-linear-gradient(left, #f60, #ffb443);
  background-image: -ms-linear-gradient(left, #f60, #ffb443);
}
.waiter-ul li.wuyou-shop .waiter-title[data-v-1b6ba6] {
  background-color: #f60;
}
.waiter-ul li.wuyou-shop .waiter-title[data-v-1b6ba6]:before {
  background-color: #f60;
}
.waiter-ul li.wuyou-contact a[data-v-1b6ba6] {
  background-image: -webkit-linear-gradient(left, #00b7ee, #55d8ff);
  background-image: -moz-linear-gradient(left, #00b7ee, #55d8ff);
  background-image: -ms-linear-gradient(left, #00b7ee, #55d8ff);
}
.waiter-ul li.wuyou-contact .waiter-title[data-v-1b6ba6] {
  background-color: #00b7ee;
}
.waiter-ul li.wuyou-contact .waiter-title[data-v-1b6ba6]:before {
  background-color: #00b7ee;
}
.waiter-ul li.wuyou-top a[data-v-1b6ba6] {
  background-image: -webkit-linear-gradient(left, #333, #666);
  background-image: -moz-linear-gradient(left, #333, #666);
  background-image: -ms-linear-gradient(left, #333, #666);
}
.waiter-ul li.wuyou-top .waiter-title[data-v-1b6ba6] {
  background-color: #333;
}
.waiter-ul li.wuyou-top .waiter-title[data-v-1b6ba6]:before {
  background-color: #333;
}

.el-menu-demo[data-v-6f3b4e] {
  border-bottom: 1px solid transparent !important;
}

/**
* @Author: 左盐
* @Date:   2017-16-03 14:56:40
* @Email:  huabinglan@163.com
* @Project: XXXXXXXX
* @Last modified by:   左盐
* @Last modified time: 2017-16-03 15:21:22
*/
/**flex 父元素定义 **/
/**flex 子元素定义 **/
.markdown-body {
  margin: 20px 0;
}
.header-menu {
  width: 100%;
  height: 382px;
  color: #fff;
  text-align: center;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
}
.header-menu .header-menu-c {
  padding: 100px 0;
  width: 1000px;
  height: 100%;
  margin: 0 auto;
}
.header-menu .header-menu-c h1 {
  font-size: 52px;
}
.header-menu .header-menu-c h2 {
  font-size: 20px;
  opacity: 0.7;
  margin: 16px 0 32px 0;
}
.header-menu .header-menu-c > a {
  font-size: 16px;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  padding: 12px 16px;
  color: rgba(255, 255, 255, 0.8);
}
.header-menu .header-menu-c > a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.header-menu .header-menu-c .shields {
  margin: 30px 0;
}
.header-menu .header-menu-c .shields a {
  margin: 0 5px;
}
.router-main {
  clear: both;
  width: 100%;
  min-height: 100px;
}
.layerindex {
  width: 1000px;
  min-height: 100px;
  margin: 0 auto;
  padding: 100px 0px;
}
.layerindex .h1-header {
  color: #159957;
  font-weight: normal;
  font-size: 32px;
  margin: 32px 0 16px 0;
}
.layerindex .h2-header {
  color: #159957;
  font-weight: normal;
  font-size: 26px;
  margin: 32px 0 16px 0;
}
.layerindex .h3-header {
  color: #159957;
  font-weight: normal;
  font-size: 20px;
  margin: 32px 0 16px 0;
}
.footer {
  width: 100%;
  min-height: 327px;
  padding: 40px 0 100px;
  background-color: #090b1a;
}
.footer .footer-c {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  padding: 0 100px;
}
.footer .footer-c .top {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: space-between;
}
.footer .footer-c .top .part h3 {
  color: #eee;
  font-size: 16px;
  height: 36px;
  line-height: 36px;
}
.footer .footer-c .top .part ul li {
  height: 32px;
  line-height: 32px;
  color: #787d80;
}
.footer .footer-c .top .part a {
  color: #787d80;
}
.footer .footer-c .bottom a {
  color: #787d80;
  margin-right: 20px;
}
.el-menu-demo[data-v-3d4f9c] {
  flex: 1;
}
.el-menu--horizontal[data-v-3d4f9c] {
  border-bottom: 1px solid transparent !important;
}
.el-menu--horizontal[data-v-3d4f9c] .el-menu-item {
  background-color: transparent !important;
}
.el-menu--horizontal[data-v-3d4f9c] .el-menu-item:hover {
  color: #409eff !important;
}

